<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Task Board</h1>
        <div class="d-flex">
            <button class="btn btn-success mr-3" (click)="callback()">Profile</button>
            <button class="btn btn-danger mr-3" (click)="Logout()">Logout</button>
            <button class="btn btn-info" (click)="OnBack()">Back</button>
        </div>
    </div>
</nav>

<div class="body">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card-box">
                        <h4 class="text-dark header-title">Upcoming</h4>
                        <ul class="sortable-list taskList list-unstyled ui-sortable" id="upcoming">
                            <li class="task-warning ui-sortable-handle" id="task1" *ngFor="let data of newTask">
                                <div>
                                <strong>Task Name : {{data.TaskName}}</strong>
                                <p class="cut-text">Task Details : {{data.TaskDetails}}</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-3">
                                    <p class="float-right mb-0 mt-2">
                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light mx-3" data-toggle="modal" data-target="#userModal" (click)="onViewClick(data)">Edit</button>
                                        <button type="button" class="btn btn-danger btn-sm waves-effect waves-light" data-toggle="modal" data-target="#myModal" (click)="this.currentTaskId=data.TaskId;">Remove</button>
                                    </p>
                                    <p class="mb-0">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">{{data.Name}}</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-box">
                        <h4 class="text-dark header-title">InProgress</h4>
                        <ul class="sortable-list taskList list-unstyled ui-sortable" id="inprogress">
                            <li class="task-warning ui-sortable-handle" id="task1" *ngFor="let data of onGoingTask">
                                <div>
                                <strong>Task Name : {{data.TaskName}}</strong>
                                <p class="cut-text">Task Details : {{data.TaskDetails}}</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-3">
                                    <p class="float-right mb-0 mt-2">
                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light mx-3" data-toggle="modal" data-target="#userModal" (click)="onViewClick(data)">Edit</button>
                                        <button type="button" class="btn btn-danger btn-sm waves-effect waves-light" data-toggle="modal" data-target="#myModal" (click)="this.currentTaskId=data.TaskId;">Remove</button>
                                    </p>
                                    <p class="mb-0">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">{{data.Name}}</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-box">
                        <h4 class="text-dark header-title">Completed</h4>
                        <ul class="sortable-list taskList list-unstyled ui-sortable" id="completed">
                            <li class="task-warning ui-sortable-handle" id="task1" *ngFor="let data of completedTask">
                                <div>
                                <strong>Task Name : {{data.TaskName}}</strong>
                                <p class="cut-text">Task Details : {{data.TaskDetails}}</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-3">
                                    <p class="float-right mb-0 mt-2">
                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light mx-3" data-toggle="modal" data-target="#userModal" (click)="onViewClick(data)">Edit</button>
                                        <button type="button" class="btn btn-danger btn-sm waves-effect waves-light" data-toggle="modal" data-target="#myModal" (click)="this.currentTaskId=data.TaskId;">Remove</button>
                                    </p>
                                    <p class="mb-0">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">{{data.Name}}</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Task Modal Area -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Task</h5>
          <button type="button" class="close transparent-button" data-dismiss="modal" aria-label="Close">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="taskForm">
            <mat-form-field class="w-100">
              <mat-label>Task Name</mat-label>
              <input type="text" matInput placeholder="Task Name" formControlName="taskName">
              <mat-error *ngIf="this.taskForm.get('taskName')?.hasError('required')">Task Name is required</mat-error>
            </mat-form-field>
  
            <mat-form-field class="w-100">
                <mat-label>Task Details</mat-label>
                <textarea matInput placeholder="Task Details..." formControlName="taskDetails" ></textarea>
                <mat-error *ngIf="this.taskForm.get('taskDetails')?.hasError('required')">Task Details is required</mat-error>
            </mat-form-field>
  
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #cancelButton data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="submitForm()">Save changes</button>
        </div>
      </div>
    </div>
</div>
<!-- Delete Modal Area -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
        <button type="button" class="close transparent-button" data-dismiss="modal" aria-label="Close" (click)="taskForm.reset()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
			<div class="modal-body">
				<p>Do you really want to delete these records? This process cannot be undone.</p>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-secondary" #closeButton data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" (click)="onDeleteClick()">Delete</button>
			</div>
		</div>
	</div>
</div> 