<!-- header section end --> 
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
    <h1 class="contact_taital">Get In Touch</h1>
    </div>
    <div class="contact_section_2 layout_padding">
    <div class="container">
    <div class="mail_section">
        <div class="row">
        <div class="col-md-6">
            <input type="" class="input_text" placeholder="Name" name="Name">
        </div>
        <div class="col-md-6">
            <input type="" class="input_text" placeholder="Email" name="Email">
        </div>
        </div>
        <input type="" class="input_text" placeholder="Phone Number" name="Phone Number">
        <textarea name="comment" class="massage_box" form="usrform">Message</textarea>
        <div class="send_bt">
        <div class="send_text"><a href="#">SEND</a></div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- contact section end -->
    <!-- footer section start -->
    <div class="footer_section layout_padding">
    <div class="container">
    <div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="map_text"><a><img src="../../assets/images/map-icon.png" class="image_main"><span class="padding_left_10">No.123 Chalingt Gates, Supper market New York</span></a></div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="map_text"><a><img src="../../assets/images/call-icon.png" class="image_main"><span class="padding_left_10">(+71 7986543234)</span></a></div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="map_text"><a><img src="../../assets/images/mail-icon.png" class="image_main"><span class="padding_left_10">demo@gmail.com</span></a></div>
    </div>
    </div>
    </div>
    </div>
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
    <div class="container">
    <p class="copyright_text">This component is from Remote-2</p>
    </div>
    </div>